/*
 * Employer form styles
 */
 .root {
   margin: 0 5%;
   padding-bottom: 30px;
   padding-top: 30px;
 }
.padding{
  padding-top: 50px;
  padding-bottom: 47px;
}
.first {
  	display: inline-block;
  	width: 43%;
  	margin-right: 2%; 
}

.last {
 	display: inline-block; 
 	width: 55%;
}

.btn{
  font-size: 17px;
  padding: 10px;
  /*margin-top: 30px;*/
  /*margin-bottom: 50px;*/
}
