/*
 * Maker card styles
 */

.root {
  position: relative;
  margin: 0 auto 2rem;
  background: #323232;
  border-radius: 1rem;
  width: 100%;
  max-width: 26rem;
  min-width: 10rem;
  min-height: 10rem;
  padding: 2rem 1rem;

  button:not(.button) {
    display: none;
    text-align: center;
  }
}

.avatar {
  height: 8rem;
  width: 8rem;
  margin: 0 0 0 1.5rem;
  /*position: static;*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  div {
    font-size: 2.5rem;
  }
}

.button {
  position: absolute;
  right: 0;
  margin: 2rem 0 0;
  text-align: center;
  display: inline-block;
  font-size: 0.9em;
}

.maker {
  
  h1 {
    line-height: 1.2;
    font-weight: 400;
    margin: 1rem 0 0;
  }

  h3 {
    font-size: 1.25rem;
    /*margin: 0.75rem 0 0;*/
  }

  i {
    font-size: 0.8em;
    margin-right: 0.5rem;
  }
}

.game {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  text-align: center;

  &>*:not(.overlay) {
    z-index: 10;
  }

  h1 {
    margin: 0 0 0.75rem;
    font-weight: 400;
  }

  i {
    color: #1c1c1c;
  }

  p {
    /*margin: 0;*/
    color: #1c1c1c;
    font-size: 1.25rem;

    &:not(:first-of-type) {
      margin-top: 0.5rem;
    }
  }
}

.joinButton {
  width: 9rem !important;
  height: 3rem !important;
  position: relative !important;
  margin-bottom: 10px;
  padding: 5px 0 !important;
  font-weight: normal;
  color: #333;
  text-transform: none;

  img {
    width: 15%;
    height: auto;
    margin-right: 1px;
    margin-left: 8px;
    float: left;
  }

  div {
    padding-top: 7px;
  }
}

.platforms {
  margin-top: 5rem;

  i {
    color: #ffffff;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

@media (max-width: 544px) {
  .joinButton {
    color: #333;
    display: inline-block !important;
    z-index: 21;
    margin-top: 10%;
  }
}

@media (max-width: 954px) {
  .joinButton {
    color: #333;
    display: inline-block !important;
    z-index: 21;
    margin-top: 10%;
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #323232;
  opacity: 0.65;
}

.cusOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: #323232;
  opacity: 0.65;
  border-radius: 10px;
}


@media (max-width: 954px) {
  .game {
    background-image: none !important;
    background-color: #323232;
  }

  .platforms {
    display: none;
  }

  .verified {
    display: block !important;
    text-align: left;
  }

  .awards {
    padding: 0 !important;
  }
}

@media (min-width: 576px) {
  .maker h1 {
    font-size: 1.6rem;
  }
}

@media (min-width: 955px) {

  .root,
  .maker,
  .game {
    min-height: 9rem;
  }

  .root {
    border-radius: 8px;
    max-width: none;
    margin-bottom: 1.5rem;
    padding: 0;

    &:hover,
    &:focus {
      button:not(.button) {
        width: 2.8rem;
        background: #ffdd00;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
      }
    }

    button:not(.button) {
      display: block;
      width: 2.5rem;
      z-index: 20;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background: #f8e81c;
      transition: all 0.25s ease-out;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      i {
        color: #191919;
        margin: 0;
      }
    }
  }

  .flex {
    display: flex;
    padding-right: 2.5rem;
  }

  .overlay {
    display: block;
  }

  .button {
    padding: 0.75rem 1.4rem;
    margin: 0 1rem;
    min-width: initial;
    font-size: 0.9em;
  }

  .avatar {
    height: 5rem;
    width: 5rem;
    margin-bottom: 0.5rem;

    div {
      font-size: 1.75rem;
    }
  }

  .maker,
  .game {
    flex-basis: 30rem !important;
    width: 30%;
    display: inline-flex;
    padding: 0;
    text-align: left;
  }

  .maker {
    align-items: center;

    h1 {
      font-size: 1.3rem;
      margin: 0;
    }

    h3 {
      font-size: 1rem;
    }
  }

  .game {
    flex: 1;
    z-index: 10;
    align-items: center;
    background-color: #101010;
    justify-content: space-between;

    p {
      font-size: 1.25rem;
      margin: 0;

      &:first-of-type {
        color: #ffffff;
      }

      &:not(:first-of-type) {
        font-size: 1.15rem;
        margin-top: 1rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .maker {
    flex-basis: 22rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 360) {
  .maker {
    flex-basis: 24rem;
  }
}

@media (max-width: 1150px) {
  .root {
    max-height: 19rem;
    transform: scale(0.9);
    margin-bottom: -8px;
  }

  .maker {
    h3 {
      font-size: 1.25rem;
      margin-top: -15px;
    }
  }
}

.progressBar {
  margin-top: 0.7rem;
  float: right;
  max-width: 10rem;
  min-width: 10rem;
}

.vs {
  max-width: 10rem;
  float: right;
}

.vsSmall {
  max-width: 10rem;
  align-content: center;
  margin: 0 auto;
}

.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    font-weight: lighter;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent;
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}

.opportunities {
  display: flex;
  font-family: "Mark Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.openTo {
  display: inline-block;
  min-width: 200px;
  margin-right: 1rem;
  border-radius: 0.4rem 1rem 0 0;
  text-align: center;
  padding: 0.2rem 0.9rem;
  color: black;
  font-size: 14px;
  font-weight: bold;
  background-color: #f8e81c;

  .briefCase {
    padding: 0;
    width: 16px;
    height: 16px;
    margin-right: 0.6rem;
  }
}

.location {
  display: inline-block;
  width: 330px;
  margin-right: 1rem;
  border-radius: 0 1rem 0 0;
  text-align: center;
  padding: 0.2rem 0.9rem;
  color: black;
  font-size: 14px;
  font-weight: bold;
  background-color: #f8e81c;

  .briefCase {
    padding: 0;
    width: 16px;
    height: 16px;
    margin-right: 0.6rem;
  }
}

.awards {
  padding: 0.2rem 0.9rem;
  color: #F8E83B;
  font-size: 16px;

  .trophy {
    padding: 0;
    width: 14px;
    height: 14px;
    margin-right: 0.6rem;
  }
}

.verified {
  display: flex;
  align-items: center;
}