

.images {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}
.font {
	font-size: 0.8rem;
	display: inline-block;
	min-width: 75px;
	text-align: left;
}
.row {
	margin: 0.5rem 1.5rem 1.5rem;
}
.col {
	text-align: left;
	margin: 0.8rem 0;
}
.radioButton {
	width: 18px;
	height: 18px;
	margin: 0 8px;
}
