.moreInfo {
  background-color: #353535;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 5px !important;
  margin: auto;
  width: 95% !important;
  h4 {
    color: yellow !important;
    font-size: 18px;
    font-weight: 500;
  }
  .accomplishment {
    p {
      color: white !important;
    }
  }
}
.outer {
  text-align: justify !important;
.jobType {
  width: 20% !important;
  display: inline-block;
  color: yellow;
}
.jobTypeText {
  width: 80% !important;
  display: inline-block;
  color: white !important;
}
}
.accomplishment {
  text-align: justify !important;
}