
.root {
  margin: 3rem;
  .heading {
    margin: 2rem 0;
  }
  .btn {
    height: 2rem;
    font-weight: normal;
    color: black;
    text-transform: none;
    background-color: #f6dc34;
    padding: 0.6rem !important;
    font-size: 0.8rem !important;
    min-width: 9rem;
    max-width: 9rem;
    border: 2px;
    text-align: center;
  }
}
