/*
 * Payments styles
 */

.payment_main {
  background-color: white;
  color: black !important;
}
.root {
  margin-top: 5rem;
}
.topHeading{
  color: #525252 !important;
  font-size: 3rem !important;
  font-weight: 700;
}
.bheader {
  background-color: #464646;
  height:auto;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: white;
}
.spHeader {
  background-color: #464646;
  height:auto;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: white;
}
.spBottomText {
  height: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  border: 1px solid;
  font-size: 0.8rem;

}
.spBottomText > p {
  color: black !important;
}
.price h1 {
  margin-bottom: 0 !important;
}

.pricing {

  height: 8.9rem;
  background-color: yellow;
  border: 1px solid;

}

.spButton {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.centreDescription {
  padding:5px;
  margin-bottom: 1rem;
}
.centreDescription > .info {
  paddding-bottom:1rem;
  text-align: center;
  margin-bottom: 1rem;
  align-content: center;
}
.footer {
  padding-bottom: 1rem;
  margin-top: 2rem;
  font-size: 0.724rem;
  display: inline-block;
  float: left;
  width: 100%;
}
.logo{
  display: inline-block;
  float: left;
  margin-top: 0.4rem;
  margin-right: 1rem;
}
.websiteName {
  float: right;
  margin-top: 2rem;
  font-size: 0.724rem;
  letter-spacing: 1px;
}