/*
 * Job page styles
 */

.root {
  padding-top: 5rem;
  text-align: center;
}

.top,
.nav {
  margin: auto;
  max-width: 68rem;
}
.videoSection {
  margin: 2rem !important;
  /* margin-left: 1rem; */
  text-align: center;
}
.sendToFriend {
  display: flex;
  align-items: center;
  /*font-size: 0.8rem !important;*/
  text-transform: none;
  /*padding: 0.75rem 1rem;*/
  background: transparent !important;
  // border: 2px solid white;
  min-width: 11rem;
  // color: green;
  letter-spacing: 0.015rem;
  width: 12rem !important;
  height: 2.5rem !important;
  position: relative !important;
  padding-left: 0px;
  padding-top: 5px !important;
  padding-right: 0px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: normal;
  letter-spacing: 0rem !important;

  img {
    width: 12%;
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
    float: left;
  }
  div {
    padding-top: 4px;
    font-size: 0.9rem;
  }
}
.sendToFriend:hover {
  background-color: white !important;
  color: black;
}
.saveForLater {
  /*font-size: 0.8rem !important;*/
  display: flex;
  align-items: center;
  text-transform: none;
  /*padding: 0.75rem 1rem;*/
  background: transparent !important;
  // border: 2px solid #df462d;
  min-width: 11rem;
  // color: #df462d;
  width: 12rem !important;
  height: 2.5rem !important;
  position: relative !important;
  padding: 0px 18px 0px 0px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: normal;
  img {
    width: 12%;
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
    float: left;
  }
  div {
    padding-top: 5px;
    font-size: 0.9rem;
    display: inline-block;
    margin-right: 22px;
  }
}
.saveForLater:hover {
  background-color: white !important;
  color: black;
}
.platform {
  width: 2.5rem;
  padding-right: 5px !important;
  padding-left: 5px;
}

.platforms {
  text-align: center;
  margin-bottom: 10px;
}

.top {
  padding: 0 2rem;
  margin: 2rem auto;
  h1 {
    margin: 0;
    font-weight: 400;
  }
}

.job {
  padding: 1rem 2rem 4rem;
  margin: auto;
  max-width: 46rem;
}

.data {
  padding: 2rem;
  text-align: left;
  background: #323232;
  h2,
  h3,
  h4 {
    text-align: center;
  }
  h2,
  h3 {
    margin-bottom: 0.5rem;
  }
  h3,
  h4 {
    color: white;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    margin-bottom: 0.5rem;
  }
  i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  ul {
    margin: 1rem 0;
    padding-left: 2rem;
    list-style: disc;
  }
  li,
  b {
    color: white;
  }
  b {
    margin-top: 1rem;
    display: inline-block;
  }
  .nologo {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.buttonContainer {
  text-align: center;
}

.button {
  display: block;
  margin: 3rem auto 1rem;
  padding: 0.75rem;
  width: 100%;
}

.buttons {
  margin: 1rem 0.5rem;
}

.btn {
  background-color: transparent !important;
  color: yellow !important;
  border: 1px solid yellow !important;
}

.logo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #272727;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  img {
    max-width: 18rem;
    padding-top: 30px;
    /*margin-left: 35px;*/
  }
  p {
    margin: 1rem 0;
  }
  .noJob {
    font-size: 1rem;
    margin: 5rem auto;
  }
}

.heading {
  padding-top: 3rem;
}
@media only screen and (max-width: 1150px) {
  .logo {
    background: #323232;
    height: 10rem;
    padding-top: 3px;
    img {
      max-width: 18rem;
      padding-top: 20px;
      padding-bottom: 20px;
      /* margin-left: 35px; */
      width: 80px !important;
      height: auto;
    }
  }
  .data {
    padding-left: 10px;
    padding-right: 10px;

    padding-top: 0rem;
    padding-top: 1rem;
  }
  .description p strong {
    padding-left: 15px;
  }
}
.description {
  text-indent: 0px;
  /*white-space: pre-line;*/
  margin-top: 50px !important;

  .red {
    color: red !important;
    text-align: center;
  }
  .white {
    text-align: center;
  }
}

.description > div {
  margin: 0 !important;
  font-family: "Mark Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  p {
    margin-top: 10 !important;
    margin-bottom: 10 !important;
    line-height: 1;
    color: #c3c3c3 !important;
  }
  span,
  ul,
  li {
    color: white !important;
    background-color: transparent !important;
  }
  strong {
    color: #fff !important;
  }
  ul,
  ol {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.3;
  }
}

.nav {
  height: 4rem;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #323232;
  i {
    margin-right: 1rem;
  }
}
.seeallJobsLink :hover {
  color: #ffdd00 !important;
}
.loading {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .logo {
    height: 19rem;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .root {
    padding-top: 5rem;
  }
  .top {
    margin: 2rem auto 1.5rem;
  }
  .logo {
    height: 18rem;
  }
}

@media (min-width: 768px) {
  .top {
    margin: 2.5rem auto 2rem;
  }
}

@media (min-width: 992px) {
  .nav {
    width: 100%;
    border: none;
    left: 50%;
    top: 7.25rem;
    position: absolute;
    transform: translateX(-50%);
  }
}
@media (max-width: 546px) {
  .button {
    display: block;
    margin: 3rem auto 1rem;
    padding: 0.75rem;
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .logo {
    max-height: 7rem;
  }
  ul,
  ol {
    padding-left: 10px !important;
  }
  li {
    white-space: unset !important;
    margin-top: 10px;
    line-height: 20px;
  }
  .description {
    margin-top: 25px !important;
  }
}
