/*
  Add Opportunities Styles
 */

.root {
  margin: 0 14rem;
  padding-bottom: 2rem;
  .formName {
    display: none;
  }
}
.subheading {
  font-size: 0.9rem;
  color: white;
}
.images {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.font {
  cursor: pointer;
  font-size: 0.8rem;
  display: inline-block;
  min-width: 75px;
  text-align: left;
}
.row {
  margin: 0.5rem auto 3rem;
  width: 50%;
}
.col {
  text-align: left;
  margin: 0.8rem 0;
  display: inline-block;
}
.checkBox {
  display: none;
}
.unCheckBox {
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin: 0;
  border-radius: 3px;
  visibility: hidden;
}
.tag {
  color: #1c1c1c;
  border-color: gray !important;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 0.4rem;
  border: 1px solid #1c1c1c;
  padding: 0.3rem 0.2rem;
  margin: 0.75rem;
  background: transparent;
  font-family: "Mark Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: color 0.25s ease, border-color 0.25s ease, background 0.25s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.active {
    color: #262626;
    border-color: #e8d603 !important;
    background: #e8d603;
  }
}
.radioButton {
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin: 0;
  border-radius: 3px;
}
.uploadCv {
  margin-bottom: 3rem;
}
.continueButton {
  border-radius: 5px;
  margin-bottom: 2rem;
  font-weight: normal;
  padding: 0.8rem 4rem;
}

.phoneNumberBox {
  margin-bottom: 2rem;
}

.phoneNumber {
  margin: 0 auto;
  width: 40%;
}
.uploadCvButton {
  color: #e8d603;
  background-color: transparent !important;
  max-width: 8rem;
  text-transform: none;
  padding: 0.8rem;
  border: 1px solid #e8d603;
  border-radius: 5px;
  &:hover {
    color: #e8d603;
  }
}

.cvBtndiv {
  width: 50%;
  margin: auto;
}

.addCVBtn {
  width: 12rem !important;
  height: 2.2rem !important;
  position: relative !important;
  padding: 10px 30px 8px 0;
  margin-top: 3rem !important;
  font-weight: normal;
  color: black;
  font-size: 1rem !important;
  text-transform: none !important;
}

.deleteCVBtn {
  background-color: transparent !important;
  width: max-content;
  font-size: 1rem !important;
  text-transform: none !important;
  color: white;
  &:hover {
    color: white;
  }
}

.cvBtndiv {
  width: 50%;
  margin: auto;
}

.addCVBtn {
  width: 12rem !important;
  height: 2.2rem !important;
  position: relative !important;
  padding: 10px 30px 8px 0;
  margin-top: 3rem !important;
  font-weight: normal;
  color: black;
  font-size: 1rem !important;
  text-transform: none !important;
}

.deleteCVBtn {
  background-color: transparent !important;
  width: max-content;
  font-size: 1rem !important;
  text-transform: none !important;
  color: white;
}

.cvBtndiv {
  width: 50%;
  margin: auto;
}

.addCVBtn {
  width: 12rem !important;
  height: 2.2rem !important;
  position: relative !important;
  padding: 10px 30px 8px 0;
  margin-top: 3rem !important;
  font-weight: normal;
  color: black;
  font-size: 1rem !important;
  text-transform: none !important;
}

.deleteCVBtn {
  background-color: transparent !important;
  width: max-content;
  font-size: 1rem !important;
  text-transform: none !important;
  color: white;
}

.previous {
  color: whitesmoke;
  font-size: 0.8rem;
}
@media (max-width: 1200px) {
  .phoneNumber {
    margin: 0 auto;
    width: 40%;
  }
}
@media (max-width: 1150px) {
  .root {
    margin: 0 7rem;
    .formName {
      display: block;
      .dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1rem;
        .enableCount {
          color: #e8d603;
          background-color: #e8d603;
          border-radius: 50%;
          margin-right: 0.7rem;
          width: 20px;
          height: 20px;
        }
        .disableCount {
          color: whitesmoke;
          background-color: whitesmoke;
          border-radius: 50%;
          margin-right: 0.7rem;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .phoneNumber {
    margin: 0 auto;
    width: 40%;
  }
}

@media (max-width: 700px) {
  .row {
    margin: 0 auto;
    width: 50%;
    .col {
      margin: 0.8rem 0;
    }
  }
}

@media (max-width: 542px) {
  .row {
    margin: 0 auto;
    width: 50%;
    .col {
      margin: 0.8rem auto 0.8rem;
    }
  }
}
